* {
    box-sizing: border-box;
}

main{
    position: relative;
    margin: 0 20% 50px 20%;
}

h1{
    color: #70482b;
    margin: 200px 20% 0 20%;
    text-align: center;
    font-weight: 900;
}

h3 {
    text-align: left;
    color: #a76e46;
    font-size: 23px;
    font-weight: 900;
    margin: 30px 10% 10px 10%;
}

p{
    color: #926039ba;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 900;
    margin: 0 10%;
}
